.root {
    -fx-font-family: "Georgia";
    -fx-font-size: 14.61073825503356px;
    -fx-base: #B61E2E;
    -fx-background: #AE3636;
    -fx-focus-color: #941728;
    -fx-control-inner-background: #580000;
    -fx-text-base-color: #FFFFFF;
    -fx-text-background-color: #FFFFFF;
    -fx-text-inner-color: #FFFFFF;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,100.0%) 0%, derive(-fx-color,-32.78571428571428%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 42.14285714285714%) 0%, derive(-fx-color, -32.78571428571428%) 100%);
    -fx-text-box-border: derive(-fx-background,100.0%);
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 2, 2, 1, 0;
    -fx-padding: 3px 10px 3px 10px;
}
.menu-button {
    -fx-background-radius: 2, 2, 1, 0;
}
.menu-button .label {
    -fx-padding: 3px 18px 3px 10px;
}
.menu-button .arrow-button {
    -fx-padding: 3px 6px 3px 0px;
}
.choice-box {
    -fx-padding: 0 6px 0 0;
}
.choice-box .label {
    -fx-padding: 3px 4px 3px 6px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 8px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 3px 6px 3px 6px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.hyperlink {
    -fx-text-fill: -fx-text-background-color;
}
.toggle-button:selected {
    -fx-text-fill: -fx-text-base-color;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
